/*
from https://www.codementor.io/chrisharrington/building-a-flipper-using-react-js-and-less-css-du107v563
*/
#root{
  display: flex;
  justify-content: center;
}

.grid{
  /*max-width: 1240px;*/
  max-width: 66%;
  align-content:  center;
  display:flex;
  flex-direction: column;
}

.button{
   border: none;
   background-color: #afca0b;
   color: white;
   margin: 10px;
   padding: 10px;
}

.particles{
position: absolute;
top:,0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.calendar{
  box-shadow: 2px 3px 5px 2px rgba(175, 202, 11, 0.2),0px 1px 1px 0px rgba(175, 202, 11, 0.14),0px 2px 1px -1px rgba(175, 202, 11, 0.12);
  padding: 10px;
}

.title{
  margin: 5px;
  text-align: center;
  color: #afca0b;
}

.backface-visibility-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile {
  font-size: 10px;
  color: #afca0b;
  padding: 7px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  align-content:  center;
  text-align: center;
}
body {
  font-family: Arial;
  font-size: 14px;
  color: #afca0b;
}
.flipper-container {
  width: 180px;
  height: 180px;
  float: left;
  display: block;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
   border: 1px solid black;
}
.flipper-container.margin-15 {
  margin-top: 15px;
  margin-bottom:35px;
  margin-left: 5px;
  margin-right: 15px;
}

.flipper-container span {
  color: white;
}
.flipper-container > div.flipper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.flipper-container > div.flipper .front,
.flipper-container > div.flipper .back {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 500ms;
  -moz-transition: -webkit-transform ease 500ms;
  -ms-transition: -webkit-transform ease 500ms;
  -o-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  -webkit-transition: transform ease 500ms;
  -moz-transition: transform ease 500ms;flipped
  -ms-transition: transform ease 500ms;
  -o-transition: transform ease 500ms;
  transition: transform ease 500ms;
}
.flipper-container > div.flipper .front {
  z-index: 2;
  background: #828282;hori
  text-align:center;
  font-weight: bold;
  /* front tile styles go here! */
}
.front-number{
  margin-top: 15px;
  font-size: 28px;
  text-shadow: -0.2px 0.2px 2px #404040
}
.flipper-container > div.flipper .back {
  background: #828282;
  font-weight: normal;
  font-size:20px;
  font-style: italic;
  cursor: pointer;
  /* back tile styles go here! */
}

.flipper-container.horizontal .front {

  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);flipped
  cursor: pointer;
}
.flipper-container.horizontal .back {
  transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
/*  cursor: pointer;*/
}
.flipper-container.horizontal div.flipper.flipped .front {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.flipper-container.horizontal div.flipper.flipped .back {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal.vis {
   display: block;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   position: fixed;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   /*padding: 20px;*/
   border: 1px solid #afca0b;
   max-width: 800px; /* Could be more or less, depending on screen size */
   height: 800px;
   background-repeat: no-repeat;
    /*background-size: contain;*/
}

/* The Close Button */
.close {
   margin:25px;
   color: #afca0b;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.modal-text{
  margin: 125px 0px 0px 0px;
  color:black;
  padding: 5px 45px 5px 45px;
  background-color: rgba(255,255,255, 0.6);
}

.modal-text>a {
  color: #556105;
  text-decoration: none;
}
