/*
from https://www.codementor.io/chrisharrington/building-a-flipper-using-react-js-and-less-css-du107v563
*/
#root{
  display: flex;
  justify-content: center;
}

a {
  color:#afca0b;
   text-decoration: none;
}

.grid{
  max-width: 1400px;
  align-content:  center;
}

.backface-visibility-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile {
  color: #afca0b;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  align-content:  center;
}
body {
  font-family: Arial;
  font-size: 14px;
}
.flipper-container {
  width: 150px;
  height: 180px;
  float: left;
  display: block;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
   border: 1px solid black;
}

.flipper-container.margin-45 {
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 25px;
  margin-right: 15px;
}

.flipper-container.margin-15 {
  margin-top: 15px;
  margin-bottom:35px;
  margin-left: 5px;
  margin-right: 15px;
}

.flipper-container.margin-55 {
  margin-top: 15px;
  margin-bottom:35px;
  margin-left: 45px;
  margin-right: 15px;
}

.flipper-container span {
  color: white;
}
.flipper-container > div.flipper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.flipper-container > div.flipper .front,
.flipper-container > div.flipper .back {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 500ms;
  -moz-transition: -webkit-transform ease 500ms;
  -ms-transition: -webkit-transform ease 500ms;
  -o-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  -webkit-transition: transform ease 500ms;
  -moz-transition: transform ease 500ms;flipped
  -ms-transition: transform ease 500ms;
  -o-transition: transform ease 500ms;
  transition: transform ease 500ms;
}
.flipper-container > div.flipper .front {
  z-index: 2;
  background: #828282;hori
  text-align:center;
  font-weight: bold;
  /* front tile styles go here! */
}
.front-number{
  margin-top: 25px;
  font-size: 24px;
}
.flipper-container > div.flipper .back {
  background: #828282;
  font-weight: normal;
  color: black;
  /* back tile styles go here! */
}

.flipper-container.horizontal{
  cursor: pointer;
}

.flipper-container.horizontal .front {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);flipped
  cursor: pointer;
}
.flipper-container.horizontal .back {
  transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  cursor: pointer;
}
.flipper-container.horizontal div.flipper.flipped .front {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.flipper-container.horizontal div.flipper.flipped .back {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}
